/*  Сброс настроек браузера по умалчанию */
* {
    box-sizing: border-box; /* Границы и внутренние отступы не увеличивают размер эл от*/
    padding: 0px;
    margin: 0px;
}
/* обьявили шрифт общий для html и body*/
html, body {
    font-family: 'Rubik', sans-serif;
}
/* Убираем стандартные стили у ссылок Также уберем подчеркивание для всех ссылок, уберем маркеры у всех маркированных списков и уберем фон и границу у всех кнопок: */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}   
button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 2ms;
}

button:hover {
    transform: translateY(-5px);
}

.header {
    background-color:#0a61f7 ;
    padding: 14px 0 ;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* тандартные стили для контейнера*/
.container {
    height: 100%;
    width: 100%;
    max-width: 1170px  /* 1140 + padding 15*2 */;
    padding: 0 15px; /* отступы жля мобильного */
    margin-left: auto; /* центрируем контент */
    margin-right: auto; /* центрируем контент */    
    border: 1px solid red; /* для проверки */
}

.nav {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    gap: 24px;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items:  center;
}

.main-img {
    align-self: flex-end; 
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px; /* для фото*/ 
}

.main .text {
    margin-bottom: 40px;
    max-width: 380px;
}


.main-title{
    color: #363940;
    font-weight: 500;
    font-size: 58px;
    line-height: 68px; 
    margin-bottom: 30px;
}
    
.text {
    color: #363940;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 40px;
}  
.button {
    width: 152px;
    height: 51px;
    border-radius: 4px;
    background-color: #0a61f7;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.title {
    
    font-weight: 500;
    font-size:  32px;
    line-height: 42px;
    color: #363940;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #95a1bb;    
}
    
    
    
    
.rates-section {
    background-color:#f9fafc ; 
    padding: 100px 0;
}

.rates-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    

.table {
    border-collapse: collapse ;
}
th, td {
    border: 1px solid #95a1bb;/* Границы таблицы*/
    padding: 15px 0; /*Отступы внутри ячейки*/
    width: 240px;/*Ширина Ячейки*/
    text-align: center;
    font-weight: 400px
}
    



.table-title {
    color: #363940;
    font-weight: 500;
    font-size: 22px;
    font-size: 18px;
}
.table-subtitle {
    color: #363940;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding-left: 20px;
}


.table-button {
    border: 1px solid #0a61f7;
    border-radius: 4px;
    color: #0a61f7;
    width: 140px;
    padding: 8px 0;
    font-size: 12px;
    font-weight: 500 ;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    line-height: 1ç.6px; ;
}


.table-button.active{
    background-color: #0a61f7;
    color: #fff;
}

.table-subtitle.gray {
    background-color: #f9fafc;
    color: #95a1bb;
    font-weight: 300px;
    
}
.table-footer {
    
    padding: 30px 0;
}








.list-item {
    list-style-image: url(../assets/images/Check.svg);
    margin-left: 30px;
    margin-bottom: 15px;
    color: #363940;

}   

.rates-section {
    background-color: #f9fafc;
    padding: 100px 0;
}

.rates-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rates-section .title {
    margin-bottom: 20px;
}

.rates-section .title {
    margin-bottom: 20px;
}

.rates-section .text {
    margin-bottom: 40px;
}





.create-account-section {
    padding: 100px 0;
}

.account-wrapper {
    display: flex;
    justify-content: space-between;
}

.create-account-section .title {
    margin-bottom: 50px;
}

.create-account-section .text {
    margin-bottom: 40px;
    max-width: 500px;
}

.list-item {
    list-style-image: url(../assets/images/Check.svg);
    margin-left: 30px;
    margin-bottom: 15px;
    color: #363940;
}

form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap : 20px;
}

input, select, fieldset, textarea, label, legend, input::placeholder, select::placeholder, textarea::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #95a1bb;
    font-family: inherit;
}

input[type="text"] {
    width: 100%;
}

input[type="email"], input[type="password"], input[type="date"], select {
    width: 230px;
    height: 50px;
    flex-grow: 1;
}

input[type="radio"], input[type="checkbox"], input[type="date"], select {
    cursor: pointer;
}

input, select, fieldset, textarea {
    border-radius: 4px;
    border: solid 1px #95a1bb;
    padding: 14px 15px;

}



.stack, fieldset {
    display: flex;
    column-gap: 30px;
}

.fields-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap : 20px;

}
/*!*/
.name-wrapper {
    display: flex;
    gap: 20px;
    /* width: 100%; */
}
/*!*/
.select-wrapper {
    display: flex;
    gap: 20px;
    /* width: 100%; */
}

fieldset {
    width: 100%;
    padding: 30px 15px;
}



textarea {
    width: 100%;
    min-height: 80px;
    resize: none;
}

form .button {
    width: 100%;
}

select  {
    background-image: url(../assets/images/Arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 15px top 50%;
    appearance: none;
}

footer {
    background-color: #0a61f7;
    text-align: center;
    padding: 20px 0;
}
span {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color:#FFF;
}
